{% extends 'public/base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col col-6">
            <h1>Agenda</h1>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>

        <div class="col col-6">
            <img src="{% static 'img/img2.jpg' %}" alt="an image">
        </div>

    </div>
{% endblock %}
